tbody td{
    height: 56.7px !important;
    vertical-align: middle !important;
    /*display: flex !important;*/
    /*flex-direction: column !important;*/
    /*justify-content: center!important;*/
    /*text-align: center!important;*/
    /*min-height: 10.65% !important;*/
    /*max-height: 10.65%!important;*/
}

td span{
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr{
    width: 100%  !important;
}

tbody td{
}